
module.exports = {
    application: {
        port: '8003',
        db: {
            url: 'mongodb://localhost:27017/nodejsauthapp'
        }
    },
    logging: {
        level: 'info',
        db: {
            database: 'nodejsauthapp_logs',
            port: '27017',
            host: 'localhost'
        },
        logFileRolling: 'logs/application.log',
        logFileExcpetion: 'logs/exceptions.log'
    }  
};
